{
    "presets": [["env", {"modules": false}]],
    "plugins": ["@babel/plugin-syntax-dynamic-import"],
    "env": {
      "test": {
        "plugins": ["@babel/plugin-syntax-dynamic-import"]
      }
    }
  }